.gallery-image img {
    width: 100%;
}

header .header-banner {
background-image: url("img/header.png");
width: 100%;
height: calc(100vh - 500px);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
display: table;



}

<style>
@import url('https://fonts.googleapis.com/css2?family=Gentium+Basic&family=Open+Sans:wght@500&display=swap');
</style>

<style>
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
</style>

header h1 {

    font-family: "Gentium Basic", serif;
    font-weight: 700;
    font-style: italic;
    font-size: 60px;
    color: #ffffff;
    line-height: 70px;
    text-transform: uppercase;
    text-shadow: 2px 2px 8px #000000;
    
    }
    
    header h2 {
    
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 5px;
    color: #ffffff;
    text-transform: uppercase;
    
    }

<div class="logo">

<h1>Follow me</h1>
<h2>Reisiblogi</h2>

</div>

header .logo {

    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 10px 0 20px 0;
    
    }

    header nav ul {

        display: block;
        margin: 0 auto;
        text-align: center; /*IE*/
        width: fit-content;
        
        }
        
        header nav ul li {
        
        display: inline-block;
        padding: 16px 16px;
        
        }

        nav ul li a {

            font-family: "Open Sans", sans-serif;
            font-weight: 400;
            font-size: 18px;
            letter-spacing: 3px;
            color: #172029;
            text-transform: uppercase;
            text-decoration: none;
            
            }

            
footer {

    width: calc(100% - 80px);
    padding: 40px 40px;
    background-color: #172029;
    margin-top: 20px;
    
    }

    .disclaimer {

        display: none;
        
        }

        footer ul {

            width: fit-content;
            float: left;
            padding-left: 0px;
            
            }
            
            footer ul li {
            
            display: block;
            padding: 0 0 10px 0;
            
            }
            
            footer ul li p {
            
            font-family: "Open Sans", sans-serif;
            font-weight: 300;
            font-size: 18px;
            letter-spacing: 2px;
            color: #ffffff;
            text-transform: uppercase;
            
            }
            
            footer ul li a {
            
            font-family: "Open Sans", sans-serif;
            font-weight: 400;
            font-size: 18px;
            letter-spacing: 3px;
            color: #ffffff;
            text-transform: uppercase;
            text-decoration: none;
            
            }